@charset "UTF-8";

/* ----- Grundstil för webbsidan ----- */

html {
    font-size: 16px;
}

html, body {
    height: 100%;
}

html, body, nav, header, main, aside, footer, article, section, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----- Layout ----- */

body {
    background-color: #e1d5b7;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ----- Utformning av navigeringen ----- */

#menuicon {
    display: inline-block;
	background-image: url(../img/menuicon.png);
	width: 24px;
	height: 24px;
    cursor: pointer;
}

#menucheckbox {
    display: none;
}

#menucheckbox ~ ul {
    display: none;
}

#menucheckbox:checked ~ ul {
    display: flex;
}

nav {
    background-color: #4fcd6c;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 0.4rem;
}

nav a:link, nav a:visited {
    color: #0d5712;
}

nav a:hover, nav a:active {
    background-color: #20985a;
    color: #274606;
}

nav a.thisPage {
    background-color: #3ab37e;
}

/* ------ Slut på  navigering ----- */

header {
    background-color: #d89228;
    color: #FFFFFF;
    padding: 10px;
}

header h1 {
    margin: 0;
    text-shadow: 5px 5px 5px black;
}

main {
    background-color: #ededa0;
    padding: 10px;
}

aside {
    background-color: #da6f57;
    padding: 10px;
}

footer {
    background-color: #2886d8;
    padding: 10px;
}

.floatImg {
    float: none;
    width: 200px;
}
