@charset "UTF-8";

/* ----- Grundstil för webbsidan ----- */

html {
    font-size: 16px;
}

html, body {
    height: 100%;
}

html, body, nav, header, main, aside, footer, article, section, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----- Layout ----- */

body {
    background-color: #e1d5b7;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-columns: auto 150px minmax(300px,650px) 200px auto;
    grid-template-rows: 250px auto 70px;
    grid-template-areas:
        "header header header header header"
        ".      nav    main   aside  ."
        "footer footer footer footer footer";
}

img{
    max-width: 100%;
}

/* ----- Utformning av navigeringen ----- */

#menuicon, #menucheckbox {
    display: none;
}

nav {
    grid-area: nav;
    background-color: #4fcd6c;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 0.4rem;
}

nav a:link, nav a:visited {
    color: #0d5712;
}

nav a:hover, nav a:active {
    background-color: #20985a;
    color: #274606;
}

nav a.thisPage::before {
    content: "-- ";
}

/* ------ Slut på  navigering ----- */

header {
    grid-area: header;
    background-color: #d89228;
    background-image: url(../img/trees.jpg);
    background-size: cover;
    background-position: bottom;
    color: #FFFFFF;
    padding: 10px;
}

header h1 {
    max-width: 1000px;
    margin: 0 auto;
}

main {
    grid-area: main;
    background-color: #ededa0;
    padding: 10px;
}

aside {
    grid-area: aside;
    background-color: #da6f57;
    padding: 10px;
}

footer {
    grid-area: footer;
    background-color: #2886d8;
    padding: 10px;
}

.floatImg {
    float: right;
    width: 200px;
}

@media screen and (max-width: 750px){

    .floatImg{
        float: none;
    }

}

@media screen and (max-width:650px){
    body{
        grid-template-columns: auto minmax(300px,450px) 200px auto;
        grid-template-rows: min-content 250px auto 70px;
        grid-template-areas:
        ".      nav    nav    ."
        "header header header header"
        ".      main   aside  ."
        "footer footer footer footer";
    }
    nav ul{
        flex-direction: row;
    }

    nav a.thisPage{
        background-color: #3ab37e;
    }

    /* nav a.thisPage::before{
        content: "";
    } */
}

@media screen and (max-width:500px){

    html{
        font-size: 14px;
    }
    
    body{
        display: block;
    }
    header{
        background-image: none;
    }

    .floatImg{
        display: none;
    }
}

@media screen and (max-width:420px){
    #menuicon{
        display: inline-block;
        background-image: "menuicon.png";
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

}
