@charset "UTF-8";

/* ----- Grundstil för webbsidan ----- */

html {
    font-size: 16px;
}

html, body {
    height: 100%;
}

html, body, nav, header, main, aside, footer, article, section, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----- Layout ----- */

body {
    background-color: #e1d5b7;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-columns: auto minmax(300px,800px) 200px auto;
    grid-template-rows: min-content 100px auto 70px;
    grid-template-areas:
        ".      nav    nav    ."
        "header header header header"
        ".      main   aside  ."
        "footer footer footer footer";
}

/* ----- Utformning av navigeringen ----- */

nav {
    grid-area: nav;
    background-color: #4fcd6c;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
}

nav ul ul {
    margin-left: 0;
    background-color: #4aa476;
    border 1px solid #333333;
    box-shadow: 6px 6px 10px #333333;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    position: absolute;
}

nav ul li:hover ul {
    visibility: visible;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 0.4rem;
    text-align: left;
}

nav a:link, nav a:visited {
    background-color: #096d3a;
    color: #FFFFFF;
}

nav a:hover, nav a:active {
    background-color: #20985a;
    color: #e3eed7;
}

nav ul ul a:link, nav ul ul a:visited {
    background-color: unset;
    color: #000000;
}

nav ul ul a:hover, nav ul ul a:active {
    background-color: #20985a;
    color: #e3eed7;
}

nav a.thisPage {
    background-color: #1e39d0;
}

/* ------ Slut på  navigering ----- */

header {
    grid-area: header;
    background-color: #d89228;
    padding: 10px;
}

header h1 {
    max-width: 1000px;
    margin: 0 auto;
}

main {
    grid-area: main;
    background-color: #ededa0;
    padding: 10px;
}

aside {
    grid-area: aside;
    background-color: #da6f57;
    padding: 10px;
}

footer {
    grid-area: footer;
    background-color: #2886d8;
    padding: 10px;
}
